.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		img.app-sidebar__user-avatar(src='images/user_logo.png', alt='Image')
		div
			p.app-sidebar__user-name= lgUserName
			p.app-sidebar__user-designation= lgUserRole

	ul.app-menu
		li
			a.app-menu__item(href='index' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Dashboard

		li.treeview(class={'is-expanded': activeGroup == 'matters'})
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.fa.fa-laptop
				span.app-menu__label Matters
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='matters' class={'active': activePage == 'new-matters'})
						i.icon.fa.fa-circle-o
						|	New matters
